In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('E:\\Dropbox\\School\\20-21 S2\\Software Methods\\Titanic\\Data\\titanic.csv')

In [3]:
df.head(3)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250

In [4]:
df['Adult'] = np.where(df.Age >= 18, 1,  0)
df['Sex'] = np.where(df.Sex == 'male', 1,  0)

In [5]:
df.head(3)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Adult
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833,1
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250,1

In [6]:
df.shape

(887, 9)

In [7]:
df['Survived'].sum()/len(df['Survived'])

0.3855693348365276

In [8]:
train = df.sample(frac = 0.75)
test = df.drop(train.index)

In [9]:
train.shape

(665, 9)

In [10]:
test.shape

(222, 9)

In [11]:
def accuracy(a, b):
    
    # Test to see if lists are equal length.
    if (len(a) != len(b)):
        return ('Two columns need to be of equal length!')
    
    # If lists are equal length...
    # Start at 0 correct
    num_correct = 0
    
    # Going through every index of the list
    for i in range(len(a)):        
        if (a[i] == b[i]):
            # If a == b at an index, add 1 to correct counter
            num_correct += 1
            
    # Return total correct divided by total elements of list
    return round(num_correct/len(a)*100, 1)

In [12]:
accuracy(df['Survived'],df['Survived'])

100.0

In [13]:
# important_factors = ['Pclass','Adult','Sex']
important_factors = ['Pclass','Adult','Sex','Siblings/Spouses Aboard','Parents/Children Aboard']

In [14]:
X_train = train[important_factors]
y_train = train['Survived']
X_test = test[important_factors]
y_test = test['Survived'].to_list()

## Gaussian Naive Bayes Model

In [15]:
naive_bayes = GaussianNB()
naive_bayes.fit(X_train,y_train)

GaussianNB()

In [16]:
y_pred_nb = naive_bayes.predict(X_test)

In [17]:
y_pred_nb = y_pred_nb.tolist()

In [18]:
print("Gaussian Naive Bayes; Accuracy: {}%".format(accuracy(y_test, y_pred_nb)))

Gaussian Naive Bayes; Accuracy: 82.0%

## KNN Model

In [19]:
for i in range(1,len(test), 10):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    y_pred_knn = knn.predict(X_test)
    y_pred_knn = y_pred_knn.tolist()
    
    if (i == 1):
        plural = ''
    else:
        plural = 's'
        
    print("KNN - {} neighbor{}; Accuracy: {}%".format(i, plural, accuracy(y_test, y_pred_knn)))

KNN - 1 neighbor; Accuracy: 80.6%
KNN - 11 neighbors; Accuracy: 77.5%
KNN - 21 neighbors; Accuracy: 84.2%
KNN - 31 neighbors; Accuracy: 77.0%
KNN - 41 neighbors; Accuracy: 83.8%
KNN - 51 neighbors; Accuracy: 81.5%
KNN - 61 neighbors; Accuracy: 82.0%
KNN - 71 neighbors; Accuracy: 82.9%
KNN - 81 neighbors; Accuracy: 82.9%
KNN - 91 neighbors; Accuracy: 82.0%
KNN - 101 neighbors; Accuracy: 82.0%
KNN - 111 neighbors; Accuracy: 82.0%
KNN - 121 neighbors; Accuracy: 81.5%
KNN - 131 neighbors; Accuracy: 81.5%
KNN - 141 neighbors; Accuracy: 82.4%
KNN - 151 neighbors; Accuracy: 82.4%
KNN - 161 neighbors; Accuracy: 82.9%
KNN - 171 neighbors; Accuracy: 82.4%
KNN - 181 neighbors; Accuracy: 82.9%
KNN - 191 neighbors; Accuracy: 80.6%
KNN - 201 neighbors; Accuracy: 80.2%
KNN - 211 neighbors; Accuracy: 78.8%
KNN - 221 neighbors; Accuracy: 78.4%